@use "variables.scss";
@use "shared-styles.scss";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$color-background;
  color: variables.$color-text-default;
  height: 100vh;
}

.warning {
  color: variables.$color-warning !important;
}

.warning-border {
  border-color: variables.$color-warning !important;
}

.warning-separator {
  background-color: variables.$color-warning !important;
}

h1 {
  padding: 0;
  margin: 0;
}

.card {
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  background-color: variables.$color-background-secondary;
  max-width: fit-content;
  padding: variables.$spacing-default * 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: variables.$spacing-default * 3;
  @extend .default-border;
}

.button {
  @extend .default-border;
  transition: all 1s ease-out;
  color: variables.$color-text-black;
  border-radius: variables.$spacing-default;
  padding: variables.$spacing-default * 4;
  padding-block: variables.$spacing-default;
  text-decoration: none;
  font-weight: 600;
  background-color: #fff;
}

.button:hover {
  @extend .default-border;
  transition: all 1s ease-out;
  color: variables.$color-text-black;
  border-radius: variables.$spacing-default;
  padding: variables.$spacing-default * 4;
  padding-block: variables.$spacing-default;
  text-decoration: none;
  font-weight: 600;
  background-color: #fff;
}