$color-background: #111;
$color-background-secondary: #191919;

$color-text-default: #fff;
$color-text-black: #000;
$color-warning: #d33;
$color-border-default: #333;

$border-width-default: 1px; 
$spacing-default: 8px;
$border-radius-default: $spacing-default;