@use "../app/variables.scss";
@use "../app/shared-styles.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-default;
}
.field {
  background-color: variables.$color-background-secondary;
  padding: variables.$spacing-default;
  display: flex;
  gap: variables.$spacing-default;
  align-items: center;
  justify-content: center;
  @extend .default-border;
  height: fit-content;
  cursor: pointer;
  div {
    background-color: #aaa;
    width: 1px;
    height: 25px;
    margin-left: calc(variables.$spacing-default * -1/2);
  }
  input {
    cursor: pointer;
    height: 100%;
    font-weight: 600;
    background-color: variables.$color-background-secondary;
    color: variables.$color-text-default;
    border: none;
    flex-grow: 1;
  }
}